body {
    font-size: 14px;
   
  }
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman",
      serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    overflow-x: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.font{
    font-family: "Playfair Display", Georgia, "Times New Roman",
      serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
.bg-sec{
    background-color: rgba(177, 177, 175, 0.21);
}